version: "3.9"

services:
  api:
    image: yveskate/dit-bot-api:1.0
    container_name: dit-bot-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./faiss_index:/app/faiss_index
    depends_on:
      - ollama
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  ollama_data:
